@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{box-sizing: border-box;
margin: 0;
padding: 0;
scroll-behavior: smooth;}

a{font-family: 'lato', sans-serif; 
    color: inherit; 
    text-decoration: none;}

p{margin: 16px 0;}

h1{font-size: 42px;}

h2{font-size: 32px;}

.pilar{max-width: 100%;}

.social{max-width: 100%;}

main{max-width: 1200px;
margin: auto;}

body{background-color: #fbfbfb;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;}  

header{background-color: #fbfbfb;
    font-family: 'lato', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px -5px #5f5f5f;
    height: 90px;
    padding: 16px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;}
    .logo{width: 120px;
        padding: 3px;}
    .navegador{font-size: 20px;  
        display: flex;
        padding-right: 30px;}
        .menu-item{padding: 16px;
            display: inline-block;}
        .menu-item:hover{background-color: rgba(175, 89, 158, 0.8);}

#menu-button{background: transparent;
    border: 0;
    outline: 0;
    width: 40px;
    height: 40px;}

#close-menu{display: none;}

section{display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;}
    .botoncv {background-color: #af599e;
            font-size: 20px;
            color: white;
            display: inline-block;
            border-radius: 20px;
            padding:10px}
        article{max-width: 100%;
        width: 50%;
        padding-right: 5px;}
        .pilar{width: 400px;
                border-radius: 80%;
                margin: 60px;
                float: left;
                padding: 40px 0;}
        .social{width: 150px;
            padding: 20px;
            margin: 30px;}
        .social:hover{background-color: rgba(175, 89, 158, 0.3);
            border-radius: 10px;}
        .hablemos{background-color: rgba(175, 89, 158, 0.3);
            text-align: center;
            border-radius: 20px;
            padding: 10px;}
        #contacto{display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;}
footer{background-color: #af599e;
    height: 90px;
    font-family: 'lato', sans-serif; color: #fbfbfb;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;}

@media (max-width:767px){
    section{display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;}
    h1{font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;}
    h2{font-size: 28px;}
    .pilar{width: 300px;
        border-radius: 80%;
        margin: 10px;
        margin-top: 90px;}
    .botoncv{display: inline-block;
    flex-direction: column;
    align-items: left;}
    .hablemos{width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        padding: 10px;
        margin: 10px;}
    .social{width: 80px;
    padding: 10px;
    margin: 10px;}
    article{width: 100%;
    padding: 10px;}
    nav{display: none;}
    body.mobile-menu-active img#close-menu     {display: block;}
    body.mobile-menu-active img#open-menu {display: none;}
    body.mobile-menu-active header{
        height: 100vh;
        flex-wrap: wrap;
        align-items: flex-start;
        transition: height 0.3s;}
    body.mobile-menu-active nav{
        display: block;
        width: 100%;
        height: 50%;}
    body.mobile-menu-active .navegador{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;}
    body.mobile-menu-active{overflow: hidden;}
}
@media (min-width:1024px){
#menu-button{display: none;}
nav{display: block;}
body.mobile-menu-active header{ 
    height: 90px;
    align-items: center;}
body.mobile-menu-active nav{
    height: auto;
    width: auto;}
body.mobile-menu-active .navegador{
    flex-direction: row;}
}

